<p> Before you begin using the system please fill in this short questionnaire </p>

<%= simple_form_for @questionnaire, :url => { :action => "create", :controller => "pre_questionnaire"} do |f| %>
	<div class = "row">
	<p>1.	I am comfortable with using linked lists:</p>
	</div>
	<div class = "row">
		<div class = "col-md-2"> 
			<div class = "row" style = "text-align: center">
				Strongly Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_1, 1%>
			</div>
		</div>
		<div class = "col-md-2"> 	
			<div class = "row" style = "text-align: center">
				Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_1, 2%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Neutral
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_1, 3%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_1, 4%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Strongly Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_1, 5%>
			</div>
		</div>
	</div>
	<div class = "row">
	<p>2.	I am confident in my ability to write code to make linked lists:</p>
	</div>
	<div class = "row">
		<div class = "col-md-2"> 
			<div class = "row" style = "text-align: center">
				Strongly Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_2, 1%>
			</div>
		</div>
		<div class = "col-md-2"> 	
			<div class = "row" style = "text-align: center">
				Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_2, 2%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Neutral
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_2, 3%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_2, 4%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Strongly Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_2, 5%>
			</div>
		</div>
	</div>
	<div class = "row">
	<p>3.	I am confident in my ability to insert into linked lists:</p>
	</div>
	<div class = "row">
		<div class = "col-md-2"> 
			<div class = "row" style = "text-align: center">
				Strongly Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_3, 1%>
			</div>
		</div>
		<div class = "col-md-2"> 	
			<div class = "row" style = "text-align: center">
				Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_3, 2%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Neutral
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_3, 3%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_3, 4%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Strongly Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_3, 5%>
			</div>
		</div>
	</div>
	<div class = "row">
	<p>4.	I am confident in my ability to find a given node in a linked list:</p>
	</div>
	<div class = "row">
		<div class = "col-md-2"> 
			<div class = "row" style = "text-align: center">
				Strongly Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_4, 1%>
			</div>
		</div>
		<div class = "col-md-2"> 	
			<div class = "row" style = "text-align: center">
				Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_4, 2%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Neutral
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_4, 3%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_4, 4%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Strongly Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_4, 5%>
			</div>
		</div>
	</div>
	<div class = "row">
	<p>5.	I am confident in my ability to delete from linked lists:</p>
	</div>
	<div class = "row">
		<div class = "col-md-2"> 
			<div class = "row" style = "text-align: center">
				Strongly Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_5, 1%>
			</div>
		</div>
		<div class = "col-md-2"> 	
			<div class = "row" style = "text-align: center">
				Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_5, 2%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Neutral
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_5, 3%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_5, 4%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Strongly Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_5, 5%>
			</div>
		</div>
	</div>
	<div class = "row">
	<p>6.	I am confident in my ability to write code to insert into linked lists:</p>
	</div>
	<div class = "row">
		<div class = "col-md-2"> 
			<div class = "row" style = "text-align: center">
				Strongly Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_6, 1%>
			</div>
		</div>
		<div class = "col-md-2"> 	
			<div class = "row" style = "text-align: center">
				Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_6, 2%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Neutral
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_6, 3%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_6, 4%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Strongly Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_6, 5%>
			</div>
		</div>
	</div>
	<div class = "row">
	<p>7.	I am confident in my ability to write code to find a given node in a linked lists:</p>
	</div>
	<div class = "row">
		<div class = "col-md-2"> 
			<div class = "row" style = "text-align: center">
				Strongly Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_7, 1%>
			</div>
		</div>
		<div class = "col-md-2"> 	
			<div class = "row" style = "text-align: center">
				Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_7, 2%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Neutral
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_7, 3%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_7, 4%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Strongly Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_7, 5%>
			</div>
		</div>
	</div>
	<div class = "row">
	<p>8.	I am confident in my ability to write code to delete from linked lists:</p>
	</div>
	<div class = "row">
		<div class = "col-md-2"> 
			<div class = "row" style = "text-align: center">
				Strongly Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_8, 1%>
			</div>
		</div>
		<div class = "col-md-2"> 	
			<div class = "row" style = "text-align: center">
				Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_8, 2%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Neutral
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_8, 3%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_8, 4%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Strongly Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_8, 5%>
			</div>
		</div>
	</div>
	<div class = "row">
	<p>9.	It is easy for me to see the connection between the diagrams for lists and the code for them.</p>
	</div>
	<div class = "row">
		<div class = "col-md-2"> 
			<div class = "row" style = "text-align: center">
				Strongly Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_9, 1%>
			</div>
		</div>
		<div class = "col-md-2"> 	
			<div class = "row" style = "text-align: center">
				Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_9, 2%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Neutral
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_9, 3%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_9, 4%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Strongly Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_9, 5%>
			</div>
		</div>
	</div>
	<div class = "row">
	<p>10.	Drawing list operations helps me understand them better.</p>
	</div>
	<div class = "row">
		<div class = "col-md-2"> 
			<div class = "row" style = "text-align: center">
				Strongly Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_10, 1%>
			</div>
		</div>
		<div class = "col-md-2"> 	
			<div class = "row" style = "text-align: center">
				Disagree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_10, 2%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Neutral
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_10, 3%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_10, 4%>
			</div>
		</div>
		<div class = "col-md-2">
			<div class = "row" style = "text-align: center">
				Strongly Agree
			</div>
			<div class = "row" style = "text-align: center">
				<%= f.radio_button :question_10, 5%>
			</div>
		</div>
	</div>
	<%= f.submit "Submit", class: "btn btn-medium btn-success" %>
<% end %>